<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% users.forEach(user => { %>
  <h2><%= user.desc %></h2>
  <% }) %>
  </body>
</html>
